
*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}


body {
  font-family: 'Inter', sans-serif;
}

.scrollbar-hidden {
  overflow-x: scroll; /* Allows horizontal scrolling */
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}


.imgBanner{
  animation: leftRight 6s linear 10s infinite ;
}

.imgBanner:hover{
  animation-play-state: paused;
}



@keyframes leftRight {
  0%{
    transform: translateX(300%);
  }
  100%{
    transform: translateX(-300%);
  }
}

